<!DOCTYPE html>
<html lang="en">
<body style='background-color:powderblue;'>
<br/>
<br/>
<center>
    <img src='https://expedientmeans.files.wordpress.com/2014/12/enigma-machine.gif' alt='EnigmaMachine' align="middle">
</center>
<div style="display:inline; text-align:center;">
    <h1 style='font-family: Courier; font-size:60px;'>Enigma Simulator</h1>
</div>
<div style="display:inline; text-align:center;">
    <p style='font-family: Courier; font-size:30px;'>by Kylie & Leonard</p>
</div>
<div align="right" style="display:inline; text-align:center;">
    <form method='POST' action='encryptSimulator'>
        <input style='width:150px; height:150px; font-size:100px;' type='submit' value='Encrypt'/>
    </form>
    <br/>
    <form method='POST' action='decryptSimulator'>
        <input style='width:150px; height:150px; font-size:100px;' type='submit' value='Decrypt'/>
    </form>
</div>
</body>
</html>